BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
#AllowShortRecordOnASingleLine: Never
BreakArrays: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
PointerAlignment: Right
UseTab: Never
